<% if (messages.success) { %>
    <div class="flash-success">
        <%- messages.success %>    
    </div>
  <% } %>
  <% if (messages.error) { %>
    <div class="flash-error">
        <%- messages.error %>    
    </div>
  <% } %>